<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.james.example.cloud.oauth.mapper.ClientdetailsMapper">
  <resultMap id="BaseResultMap" type="com.james.example.cloud.oauth.domain.Clientdetails">
    <!--@mbg.generated generated on Thu Apr 23 22:25:25 CST 2020.-->
    <!--@Table clientdetails-->
    <id column="appId" jdbcType="VARCHAR" property="appid" />
    <result column="resourceIds" jdbcType="VARCHAR" property="resourceids" />
    <result column="appSecret" jdbcType="VARCHAR" property="appsecret" />
    <result column="scope" jdbcType="VARCHAR" property="scope" />
    <result column="grantTypes" jdbcType="VARCHAR" property="granttypes" />
    <result column="redirectUrl" jdbcType="VARCHAR" property="redirecturl" />
    <result column="authorities" jdbcType="VARCHAR" property="authorities" />
    <result column="access_token_validity" jdbcType="INTEGER" property="accessTokenValidity" />
    <result column="refresh_token_validity" jdbcType="INTEGER" property="refreshTokenValidity" />
    <result column="additionalInformation" jdbcType="VARCHAR" property="additionalinformation" />
    <result column="autoApproveScopes" jdbcType="VARCHAR" property="autoapprovescopes" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu Apr 23 22:25:25 CST 2020.-->
    appId, resourceIds, appSecret, `scope`, grantTypes, redirectUrl, authorities, access_token_validity, 
    refresh_token_validity, additionalInformation, autoApproveScopes
  </sql>
</mapper>